# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/test-reports
.jest
mydb.db
ormconfig.json
/config/deployment/staging.json
/config/deployment/production.json
/config/deployment/development.json
/config/env/development.json
/config/env/_development.json

staging-release.zip
prod-release.zip
yarn.lock
local-file-storage
/test/test-file-storage
local-backup-temp
/test/test-backup-temp
local.db
